
//verde, amarelo, rosa, lilás e azul em tons pastéis e claros,
//que refletem a natureza florescente e a renovação.
//A paleta também inclui tons de laranja, coral e terrosos claros,
// proporcionando uma sensação de frescor e otimismo.

//fonts
// $titleFont:; story script, Sirivennela, Great Vibes, Parisienne
$titleFont: "Parisienne", cursive;
$simpleFont: "Open Sans", sans-serif;





//background páginas
$headerFooter:#F4EDE5;
$backMain: #FDF9F5;
$backBlog:#ffffff;
$backTittleBlog:#ffffffda;
$backSubMenuRoupas:#F4EDE5;
$backSubMenuCalcados:#F4EDE5;
$backSubMenuBolsas:#F4EDE5;
$backSubMenuOculos:#F4EDE5;


//cor das letras

//letras do menu
$colorMenu: #10100F;
$colorMenuButtons: #3A3A3A;


//submenu roupas
$colorSubMenu: #3A3A3A;


//letras color MAIN
$titleMain:#333333;
$price:#000;
$parcela: #a7a7a7;
$buttonColorMain: #11100F;
$buttonBackMain:#fff;

$buttonColorMainHover:#fff;
$buttonBackMainHover: #E6A4B4;



//color BLOG
$tittleColorBlog:#333333;
$tittleColorPost:#000;
$descritionColor: #a7a7a7;
$buttonColorBlog:#3A3A3A;
$buttonBackBlog:#fff;


$buttonColorBlogHover:#fff;
$buttonBackBlogHover:#E6A4B4;

//color footer
$footerColor:#000000;

$inputColor: #3A3A3A;
$inputBack:#fff;

$buttonColorFooter:#000;
$buttonBackFooter:#fff;

$buttonColorFooterHover:#fff;
$buttonBackFooterHover: #3A3A3A;

