
//verde, amarelo, rosa, lilás e azul em tons pastéis e claros,
//que refletem a natureza florescente e a renovação.
//A paleta também inclui tons de laranja, coral e terrosos claros,
// proporcionando uma sensação de frescor e otimismo.

//fonts
// $titleFont:; story script, Sirivennela, Great Vibes, Parisienne
$titleFont: "Parisienne", cursive;
$simpleFont: "Open Sans", sans-serif;





//background páginas
$headerFooter:rgb(252, 131, 1);
$backMain:#ffffff;
$backBlog:#ffffff;
$backTittleBlog:#ffffffda;


//cor das letras

//letras do menu
$colorMenu:#ffffff;
$colorMenuButtons:rgba(205, 193, 180, 0.748);;


//submenu roupas
$colorSubMenu:#fff;


//letras color MAIN
$titleMain:#333333;
$price:#000;
$parcela: #a7a7a7;
$buttonColorMain:rgb(252, 131, 1);
$buttonBackMain:#fff;

$buttonColorMainHover:#fff;
$buttonBackMainHover:rgb(252, 131, 1);



//color BLOG
$tittleColorBlog:#333333;
$tittleColorPost:#000;
$descritionColor: #a7a7a7;
$buttonColorBlog:rgb(252, 131, 1);
$buttonBackBlog:#fff;


$buttonColorBlogHover:#fff;
$buttonBackBlogHover:rgb(252, 131, 1);

//color footer
$footerColor:#000000;

$inputColor:rgb(252, 131, 1);
$inputBack:#fff;

$buttonColorFooter:#000;
$buttonBackFooter:#fff;

$buttonColorFooterHover:#fff;
$buttonBackFooterHover:rgb(252, 131, 1);

