@use '../abstracts/variaveis'as *;
@use '../abstracts/mixins'as *;

.contato {
    background-color: $headerFooter;
    padding: 3% 0 1% 0;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $footerColor;
    .ajuda {
        display: flex;
        align-items: center;

        &__container {
            width: 300px;

            h5 {
                font-size: 1.2rem;
            }

            p {
                width: 100%;
                padding: 3% 0 3% 0;

                span {
                    font-weight: 600;
                }
            }
        }
    }

    .afiliado {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px;

        p {
            width: 100%;
        }

        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3% 0 3% 0;

            &__item {
                color: $footerColor;
                list-style-type: none;

                a {
                    color: $footerColor;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .cadastro {
        display: flex;
        flex-direction: column;
        width: 300px;

        p {
            width: 100%;
        }

        input {

            min-height: 40px;
            width: 100%;
            border-radius: 10px;
            margin: 5% 0 5% 0;
            padding-left: 3%;
            font-weight: 600;
            border: none;
            background-color: $inputBack;

            &::placeholder {
                color: $inputColor;
                font-weight: 600;
            }

        }

        button {
            min-height: 40px;
            width: 100%;
            border-radius: 10px;
            font-weight: 600;
            background-color: $buttonBackFooter;
            color: $buttonColorFooter;
            border: none;
            

            &:hover {
                cursor: pointer;
                background-color:$buttonBackFooterHover;
                border: 1px solid $buttonColorFooterHover;
                color: $buttonColorFooterHover;
            }
        }

    }

}

.footer__direitos {

    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    align-items: center;

    .agradecimento,
    a {
        @include text--small();
        text-decoration: none;
        color: $footerColor;
    }

    .redes {
        display: flex;
        align-items: center;

        &__items {
            display: flex;

            &__item {
                list-style-type: none;

                img {
                    width: 70%;
                }
            }
        }
    }


}

.seta-subir {
    button {
        background: none;
        border: none;
    }
    button:hover {
        
    }
}