@use "../abstracts/variaveis"as *;
@use "../abstracts/mixins"as *;

header {
  background-color: $headerFooter;

  .menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 80px;

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h1,
      h2 {
        font-family: $titleFont;
        @include h1();
        color: $colorMenu;
        @include titleBrilho();
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    h1 {
      width: 200px;
    }

    h1 {
      font-family: $titleFont;
      @include h1();
      color: $colorMenu;
      @include titleBrilho();
    }

    h2 {
      font-family: $titleFont;
      @include h1();
      color: $colorMenuButtons;
      @include titleBrilho();

    }

    &__itemss {
      width: 75%;

      &__items {
        display: flex;
        justify-content: end;

        &__item {
          display: inline;
          padding-left: 1.5rem;

          a {
            @include linkbutton();
            color: $colorMenuButtons;
            @include titleBrilho();

            &::after {
              @include underlineEfect();
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}





.navegador {
  background-color: $headerFooter;
  position: relative;

  &__botoes {

    max-width: 100%;
    width: 100%;
    min-height: 40px;
    padding: 4px 16px;
    margin: 0 auto;
    list-style: none;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;



    &__items {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      list-style-type: none;


      &__item {
        height: 0rem;
        padding: 0rem;
        margin: 0 auto;
        width: 100%;

        &__botaoPrincipal {
          display: flex;
          justify-content: center;
        }

        button {
          border: none;
          background: 0 0;
          cursor: pointer;
          text-decoration: none;
          font-weight: 700;
          position: relative;
          display: inline-block;
          cursor: pointer;
          color: $colorMenuButtons;
          filter: brightness(1.6);
          margin-bottom: 0rem;


          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: all .3s ease;
            transform: translate(-50%)
          }

          &:hover::after {
            width: 100%
          }
        }


        //lista de opções de roupas
        .listaa {
          max-width: 100%;
          width: 55%;
          margin: 0 auto;
          border-radius: 5%;
          left: 0px;
          text-align: start;

        }

        .lista {
          max-width: 100%;
          width: 100%;
          margin: 15px 0 15px 0;
          padding: 15px;
          opacity: 0;
          pointer-events: none;
          transition: all 0.4s ease-in-out;
          transform: translateX(-100%);
          background-color: $headerFooter;
          list-style: none;
          border-radius: 20px;

          button {
            margin: 10px 0px 10px 0px;
          }

          &-is--active {
            color: $colorMenuButtons;
            transform: translateX(0%);
            opacity: 1;
            pointer-events: auto;
            z-index: 10;
          }
        }
      }
    }
  }
}



#navbar {
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
}

#navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $headerFooter;
}


// menu hamburguer 

/* Esconde o checkbox */
.navbar {
  display: none;
  text-align: center;

  button {
    background: none;
    border: none;
    margin-top: 5%;
  }
}


/* Estilo básico do ícone do hambúrguer */
.hamburguer {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin: 1rem;
  /* Garante que fique por cima do menu */
}

.hamburguer .line {
  height: 4px;
  background-color: #333;
  width: 100%;
  border-radius: 5px;
}

/* Estilos do menu de itens */
.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  /* Começa oculto */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #eee;
  z-index: 5;
}