@use "../abstracts/variaveis"as *;
@use "../abstracts/mixins"as *;

header {
  background-color: $headerFooter;

  .menu {
    display: flex;
    align-items: center;
    margin: 0 auto;

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h1,
      h2 {
        font-family: $titleFont;
        @include h1();
        color: $colorMenu;
        @include titleBrilho();
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    h1 {
      width: 200px;
    }

    h1,
    h2 {
      font-family: $titleFont;
      @include h1();
      color: $colorMenu;
      @include titleBrilho();

    }

    &__itemss {
      width: 75%;

      &__items {
        display: flex;
        justify-content: end;

        &__item {
          display: inline;
          padding-left: 1.5rem;

          a {
            @include linkbutton();
            color: $colorMenu;
            @include titleBrilho();

            &::after {
              @include underlineEfect();
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.navegador__scrool-arrow-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.navegador__scrool-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
}

.setas-menu {
  display: flex;
  justify-content: space-between;
}

.navegador::-webkit-scrollbar {
  display: none;
}



.navegador {
  background-color: $headerFooter;
  position: relative;




  &__botoes {
    position: absolute;
    overflow-y: visible;
    overflow-x: auto;
    max-width: 1300px;
    width: 100%;
    min-height: 200px;
    display: flex;
    padding: 5px 16px;
    margin: 0 auto;
    list-style: none;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    left: 50%;
    transform: translateX(-50%);
    top: -4px;

    &__items {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: space-around;
      list-style-type: none;


      &__item {
        padding: 0 5rem;
        padding: 0px;
        margin: 0 auto;
        width: 100%;


        button {
          border: none;
          background: none;
          cursor: pointer;
          @include linkbutton();
          color: $colorMenu;
          @include titleBrilho();

          &::after {
            @include underlineEfect();
          }

          &:hover::after {
            width: 100%;
          }
        }


        //lista de opções de roupas
        .listaa {
          max-width: 100%;
          width: 100%;

          margin: 0 auto;
          border-radius: 5%;
          position: absolute;
          left: 0px;

        }

        .lista {
          max-width: 100%;
          width: 100%;
          display: none;


          &__item {
            list-style-type: none;
            max-width: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            height: 30px;
            background-color: rgb(255, 124, 43);
            margin-top: 15px;
            margin-bottom: 15px;

            button {
              color: $colorSubMenu;
            }
          }

          &-is--active {

            display: flex;
            position: relative;
          }
        }
      }
    }
  }
}



#navbar {
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
}

#navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $headerFooter;
}


// menu hamburguer 

/* Esconde o checkbox */
.navbar {
  display: none;
  text-align: center;

  button {
    background: none;
    border: none;
    margin-top: 5%;
  }
}


/* Estilo básico do ícone do hambúrguer */
.hamburguer {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin: 1rem;
  /* Garante que fique por cima do menu */
}

.hamburguer .line {
  height: 4px;
  background-color: #333;
  width: 100%;
  border-radius: 5px;
}

/* Estilos do menu de itens */
.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  /* Começa oculto */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #eee;
  z-index: 5;
}