@use "../abstracts/variaveis"as *;
@use "../abstracts/mixins"as *;

header {
  background-color: $headerFooter;

  .menu {
    display: flex;
    align-items: center;
    margin: 0 auto;

    &__title {

      h1,
      h2 {
        font-family: $titleFont;
        @include h1();
        color: $colorMenu;
        @include titleBrilho();
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

<<<<<<< HEAD
    h1 {
      width: 200px;
    }

    h1,
    h2 {
      font-family: $titleFont;
      @include h1();
      color: $colorMenu;
      @include titleBrilho();
      
    }
=======
>>>>>>> responsividade

    &__itemss {
      width: 75%;

      &__items {
        display: flex;
        justify-content: end;

        &__item {
          display: inline;
          padding-left: 1.5rem;

          a {
            @include linkbutton();
            color: $colorMenu;
            @include titleBrilho();

            &::after {
              @include underlineEfect();
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.navegador {
  background-color: $headerFooter;

  &__botoes {

    &__items {
      text-align: center;
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      &__item {
        padding: 0 1rem;
        padding: 0px;
        margin: 0px;

        button {
          border: none;
          background: none;
          cursor: pointer;
          @include linkbutton();
          color: $colorMenu;
          @include titleBrilho();

          &::after {
            @include underlineEfect();
          }

          &:hover::after {
            width: 100%;
          }
        }


        //lista de opções de roupas
        .lista {
          display: none;

          &__item {
            list-style-type: none;
          }

          &-is--active {
            display: block;
          }
        }
      }
    }
  }
}



#navbar {
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
}

#navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $headerFooter;
}


// menu hamburguer 

/* Esconde o checkbox */
.navbar {
  display: none;
  text-align: center;

  button {
    background: none;
    border: none;
    margin-top: 5%;
  }
}


/* Estilo básico do ícone do hambúrguer */
.hamburguer {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin: 1rem;
  /* Garante que fique por cima do menu */
}

.hamburguer .line {
  height: 4px;
  background-color: #333;
  width: 100%;
  border-radius: 5px;
}

/* Estilos do menu de itens */
.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  /* Começa oculto */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #eee;
  z-index: 5;
}