@use '../abstracts/mixins'as *;
@use '../abstracts/variaveis'as *;

.roupa {
    background-color: $backMain;
    padding: 0;
    display: none;


    &--is-active {
        display: block;
        max-width: 1520px;
        width: 100%;
        margin: 0 auto;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        max-width: 1520px;
        width: 100%;
        margin: 0 auto;
        padding-top: 5%;


        &__item {
            list-style-type: none;
            padding-bottom: 2.5rem;
            position: relative;
            max-width: 310px;
            width: 100%;

            &__imagem {
                display: block;
                border-radius: 2%;
                filter: drop-shadow(0 0 2px rgb(255, 255, 255));
   

                &__img-hover {
                    position: absolute;
                    top: 0;
                    right:5px;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                &__img-hover:hover {
                    opacity: 1;
                }

                &__img-default:hover {
                    opacity: 0;
                }

            }

            h3 {
                margin: 0.5rem 0 0.5rem;
                @include tituloRoupa();
                color: $titleMain;
                font-weight: 500;
            }

            &__div {
                display: flex;
                justify-content: center;
                align-items: center;

                &__preco {
                    @include preco();
                    color: $price;
                    font-weight: bold;
                }

                &__parcela {
                    color: $parcela;
                    margin-left: 4%;
                }
            }

            a {
                z-index: 0;
                margin-top: 0.5rem;
                @include linkbutton();
                color: $buttonColorMain;
                background-color: $buttonBackMain;
                padding: 3% 7%;
                border-radius: 999px;
                border: 1px solid $buttonColorMain;
                font-size: 1rem;

                &:hover {
                    background-color: $buttonBackMainHover;
                    color: $buttonColorMainHover;
                    border: 1px solid $buttonBackMain;
                }

            }
        }
    }
}