@use "../abstracts/variaveis"as *;
@use "../abstracts/mixins"as *;

// config geral
@media (max-width:1400px) {
    header {
        .menu {
            margin: 0;
        }
    }
}

// TABLET
@media (max-width:1007px) {

  



    header {
        .menu {
            align-items: start;

            &__title {
                max-width: 1500px;

                h1 {
                    margin-right: 5%;
                }

                h2 {

                    text-align: end;
                }
            }

            &__itemss {
                display: none;
            }
        }
    }




    /* a lista principal dos botões (esta é a parte que rola) */

    .navbar {
        display: flex;
        width: 50%;
        justify-content: end;
        position: relative;
        margin: 0;
        padding: 0;


        .navbar__nav__toggle {

            position: fixed;
            background-color: $backMain;
            max-width: 40%;
            width: 100%;
            min-height: 7365px;
            height: 100%;
            z-index: 10;
            right: 0;
            padding-top: 3%;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
            transform: translateY(-50%) translateX(100%);
            transition: transform 0.5s ease-in-out;

            &__tittle {

                h2 {
                    font-size: 1.5rem;
                    width: 100%;
                }
            }

            ul {
                margin-top: 5%;

                li {
                    margin-bottom: 2%;
                }
            }

            .redes {
                display: flex;
                justify-self: center;
                margin: 10% 0;

                &__items {
                    display: flex;

                    &__item {
                        list-style-type: none;

                        img {
                            width: 60%;
                        }
                    }
                }
            }



            ul {
                li {
                    list-style-type: none;
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: $colorMenu;
                    }
                }
            }

            button {
                font-size: 1.5rem;
            }
        }

        .navbar__nav__toggle--is-active {

            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition-delay: 0s;
        }
    }

    


    .roupa {
        &__items {
            display: flex;
            justify-content: space-around;

            &__item {
                &__troca-de-foto {
                    display: none;
                }

                &__imagem {
                    display: block;

                    &__img-default--active {
                        opacity: 1;
                    }

                    &__img-default:hover {
                        opacity: 1;
                    }

                    &__img-hover {
                        opacity: 1;
                    }

                    &__img-hover--desactive {
                        display: none;
                    }

                }
            }

        }

    }

    .blog {
        padding-bottom: 10%;

        &__container {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            &__destaque {
                margin: 5% 0;
                padding: 0;

                &__imagem {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            &__recentes {
                &__content {
                    padding: 2% 1%;
                }
            }


            &__novos {
                display: flex;
                flex-wrap: wrap;
                max-width: 550px;
                width: 100%;
            }
        }
    }

    .footer {
        display: flex;
        flex-wrap: wrap;

        .ajuda {
            width: 100%;

            &__container {
                p {
                    margin: 0;
                    padding: 0;
                }
            }

            &__container {
                width: 100%;
                text-align: center;
            }
        }

        .afiliado {
            width: 100%;

            p {
                margin-top: 3%;
            }

            .paragrafo2 {
                margin: 0;
            }
        }

        .cadastro {
            text-align: center;
            width: 100%;
            margin: 5% 0 5% 0;
        }
    }
}

//CELULAR
@media (max-width:620px) { 
    .listaa {
        position: fixed;
    }

    .lista {
        
    }

}


// CELULAR
@media (max-width:471px) {


    .container {
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
    }

    .menu__title {
        display: flex;
        flex-direction: column;
    }

    .menu {
        &__itemss {
            display: none;
        }
    }

    .navbar {
        display: flex;
        width: 100%;
        justify-content: end;
    }


    .roupa {
        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    .blog {

        &__container {
            display: flex;
            flex-direction: column;


            &__destaque {
                margin-bottom: 5%;

                &__imagem {
                    width: 100%;

                    img {
                        width: 90%;
                    }
                }
            }

            &__recentes {
                justify-content: center;
            }

            &__novos {
                display: flex;
                flex-wrap: wrap;
                max-width: 550px;
                width: 100%;
                justify-content: center;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5%;

        .cadastro {
            margin: 10% 0 5% 0;
        }
    }


}

