@media (max-width:1500px) {
    header {
        .menu {
            margin: 0 3% 0 3%;
        }
    }
}

@media (max-width:800px) {
    .container {
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
    }
}