@use '../abstracts/variaveis' as * ;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $simpleFont;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}